**/build/flutter_assets/*
**/build/native_assets/*
**/build/web/*

**/build/windows/x64/CMakeFiles
**/build/windows/x64/flutter
**/build/windows/x64/x64/
!**/build/windows/x64/runner/Release
# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/



# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
.vscode
**/build/.last_build_id
**/build/windows/app.so
**/build/windows/x64/runner/CMakeFiles
**/build/windows/x64/runner/Debug
**/build/windows/x64/runner/*.dir
*.vcxproj
*.sln
*.filters
*.cmake